---
layout: layouts/default.njk
---

<h1>
    •¤»((¯♥¯))«¤• pokeghost •¤»((¯♥¯))«¤•
</h1>
<p>aka Poke, aka Rei. Internet ghost doing ghost things on the Internet.
</p>
<p>interests: coding, poetry, literature, manga, movies, Japanese,<br/>spending time in nature, making sense of the
    world.
</p>
<p>links:
    <ul>
        <li><a href="https://github.com/pokeghosst" target="_blank">code</a></li>
        <li><a href="https://x.com/pokeghosst" target="_blank">short yapping</a></li>
        <li><a href="https://pokeghost.substack.com/" target="_blank">long yapping</a></li>
        <li><a href="https://buymeacoffee.com/pokegh0st" target="_blank">give me money (pwetty pwease?)</a></li>
        <li><a href="https://gosuto.art/" target="_blank">gosuto art society</a></li>
    </ul>
</p>
<p>
    <p>talk to me: pokeghost [at] disroot.org</p>
</p>
<p>
    <a href="/poems">my poems</a>
</p>
<div id="pokebook-ad">
    <p>The BEST poetry writing app in the WORLD</p>
    <p id="pokebook-name">
        Poke!Book 3
    </p>
    <p id="pokebook-tagline">100% FREE, OPEN SOURCE<br/>NATURALLY SOURCED, NO GMO, NO AI</p>
    <p id="pokebook-cta">
        <a href="https://book3.pokeghost.org/" target="_blank">TRY NOW</a>
    </p>
</div>