@font-face {
  font-family: "Caskaydia Cove";
  src: url("/CaskaydiaCove-Regular.ttf") format("truetype");
}

* {
  font-family: "Caskaydia Cove", monospace;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

a,
a:visited {
  color: #fff;
}

#pokebook-ad {
  border: 1px solid #fff;
  text-align: center;
  padding: 12px;
}

#pokebook-ad > p {
  margin: 0;
}

#pokebook-name {
  font-size: 2rem;
  padding: 18px 0;
}

#pokebook-tagline {
  font-size: 1.2rem;
  font-style: italic;
}

#pokebook-cta {
  font-size: 1.6rem;
  padding-top: 18px;
}

.poem > p {
  font-size: 1.1rem;
  white-space: pre-wrap;
}
