---

---

<div class="logo-container">
  <h1>poke_systems</h1>
</div>

<style>
  :root {
    --shadow-color: #ff9e9e;
    --shadow-color-light: white;
  }

  @font-face {
    font-family: Golden Girdle;
    src: url("/Golden Girdle.otf");
    font-weight: normal;
  }

  h1 {
    font-family: "Golden Girdle", sans-serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    animation: neon 3s infinite;
  }

  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes neon {
    0% {
      text-shadow:
        -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light),
        0 0 3px var(--shadow-color-light),
        0 0 10px var(--shadow-color-light),
        0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color),
        0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color),
        0 0 70px var(--shadow-color),
        0 0 100px var(--shadow-color),
        0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow:
        -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light),
        0 0 5px var(--shadow-color-light),
        0 0 15px var(--shadow-color-light),
        0 0 25px var(--shadow-color-light),
        0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color),
        0 0 60px var(--shadow-color),
        0 0 80px var(--shadow-color),
        0 0 110px var(--shadow-color),
        0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow:
        -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light),
        0 0 3px var(--shadow-color-light),
        0 0 10px var(--shadow-color-light),
        0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color),
        0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color),
        0 0 70px var(--shadow-color),
        0 0 100px var(--shadow-color),
        0 0 200px var(--shadow-color);
    }
  }
</style>
