---
import Clock from "./Clock.svelte";
import ScanlinesToggle from "./ScanlinesToggle.svelte";
---

<div class="menu">
  <div class="start-lockup">
    <a class="button" href="/">Start</a>
    <ScanlinesToggle client:only="svelte" />
  </div>
  <Clock client:only="svelte" />
</div>

<style>
  .menu {
    width: 100%;
    height: 52px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    border-top: 2px solid var(--border-grey);
    padding: 8px;
    background-color: var(--bg-color);
  }

  .start-lockup {
    display: flex;
    gap: 8px;
  }

  a {
    font-size: 14px;
  }
</style>
