---
import "../styles/global.css";

const { title, scanlines = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="scanlineContainer" class:list={[{ scanlines: scanlines }]}></div>
    <slot />
  </body>
</html>
